<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Locations</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Locations: {{ locations|length }} </td>
        <td class="table-align"><a href="{{ path('admin_location', {'project': project.id}) }}" class="btn btn-success"><i class="fa-solid fa-arrow-right"></i></a>
        </td>
    </tr>
    <tr>
        <td>Locations without question: {{ locationCountWithoutQuestion|default }}</td>
        <td></td>
    </tr>
    </tbody>
</table>