<div class="col-xl-12">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Questions</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Question: {{ questions|length }}</td>
            <td><a href="{{ path('admin_question', {'project': project.id}) }}" class="btn btn-primary">Open</a>
            </td>
        </tr>
        <tr>
            <td>Questions without Location: {{ questionCountWithoutLocation|default }}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>