{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center question-image">
        <img src="{{ asset('uploads/answerImages/' ~ image) }}" width='90%' alt="">
    </div>

{% endblock %}