{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    {% if(question.type == 1) %}
        {% include 'game/multi.html.twig' %}
    {% elseif(question.type == 2) %}
        {% include 'game/open.html.twig' %}
    {% else %}
        <p>Question type template not found</p>
    {% endif %}

{% endblock %}
