{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {% if question.type == 1 %}
        {{ form_row(form.answer.selected_answer) }}
        {% include 'game/multi.html.twig' %}
    {% elseif question.type == 2 %}
        {% include 'game/open.html.twig' %}
    {% elseif question.type == 3 %}
        {% include 'game/photo.html.twig' %}
    {% else %}
        <p>Question type template not found</p>
    {% endif %}


    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}