.navbar-project-title {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.table-align {
  text-align: right;
}

.logo {
  max-width: 200px;
}

.title-font {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

//[data-bs-theme="dark"] {
//  .banana {
//    content: url("/public/images/download.jpg");
//  }
//}
//
//[data-bs-theme="light"] {
//  .banana {
//    content: url("/public/images/download2.jpg");
//  }
//}