.navbar-project-title {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

//[data-bs-theme="dark"] {
//  .banana {
//    content: url("/public/images/download.jpg");
//  }
//}
//
//[data-bs-theme="light"] {
//  .banana {
//    content: url("/public/images/download2.jpg");
//  }
//}