{% extends 'base.html.twig' %}

{% block title %}Not Logged In{% endblock %}

{% block body %}
    <h1>Je bent niet ingelogd.</h1>
    <p>Graag dit ding laten liggen.
        is eigendom van scoutingclub kareldoorman groep zutphen.
    </p>
{% endblock %}
