{% extends 'base.html.twig' %}

{% block title %}Not Logged In{% endblock %}

{% block body %}
    <h1>Je bent niet ingelogd.</h1>
    <p>
        Graag dit item laten liggen.
        <br>
        <br>
        Dit item is eigendom van scoutingclub kareldoorman groep zutphen, en hoort bij een spel.
        Mocht u dit item vinden na 23 Oktober graag mailen naar jota@scoutingkdg.nl.
        Wij zouden het prettig vinden als u dit item laat liggen en meld bij het bovenstaande email.
    </p>
{% endblock %}
