{% extends 'base.html.twig' %}

{% block title %}Create Question{% endblock %}

{% block body %}

    <div class="col-6">
        <h1>Question</h1>

        {{ form(form) }}
    </div>
{% endblock %}
