{% extends 'base.html.twig' %}

{% block title %}Edit Score{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4">
            <h1>Edit Score</h1>
            <p>{{ answer.open }}</p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
