{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <div class="row justify-content-lg-center">
        <div class="col-12 col-lg-5">
            <h1>Question</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
