{% extends 'base.html.twig' %}

{% block title %}Edit Score{% endblock %}

{% block body %}

    <div class="col-6">
        <h1>Edit Score</h1>

        <p>{{ answer.open }}</p>
        {{ form(form) }}
    </div>
{% endblock %}
